.contact {
    width: 100%;
    height: 93vh;
    background-color: var(--bg-color-0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.container__form-column {
    display: flex;
}

.form__container-row label {
    position: absolute;
    cursor: pointer;
    left: 30.8%;
    color: var(--bg-color-4);
    font-family: var(--text-font);
    text-transform: uppercase;
    transition: .5s ease;
}

.active {
    transform: translateY(-12px) scale(.7); 
}

.form__name, .form__email {
    border: none;
    border-bottom: 1px solid var(--bg-color-4);
    padding-left: 3.5%;
}

.form__datos {
    font-family: var(--text-font);
    color: var(--bg-color-4);
    font-size: 1em;
    text-transform: uppercase;
    background: #19191930;
    width: 100%;
    border-radius: 3px;
    outline: none;
    margin-bottom: 1.4em;
}

.form__social {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}

/* text area */
.form__tarea {
    width: 100%;
    resize: none;
    padding: 3%;
}


.form__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    color: var(--bg-color-4);
    font-size: 2.8rem;
    transition: .3s ease;
}

.form__social a:hover {
    color: var(--bg-color-0);
    background-color: var(--bg-color-4);
}

.form__submit input {
    background-color: var(--bg-color-0);
    color: var(--bg-color-4);
    width: 30%;
    height: 50px;
    font-size: 1.2rem;
    font-family: var(--text-font);
    font-weight: 500;
    transition: .5s ease;
    border: 1px solid var(--bg-color-4);
    border-radius: 4px;
}

.form__submit input:hover {
    background-color: var(--bg-color-4);
    color: var(--bg-color-0);
    transform: scale(1.1);
}