.about {
    display: flex;
    align-items: center;
    background-image: url(../../img/bg-gris.jpg);
    height: 100vh;
}

.about__img img {
    width: 45vw;
}

.about__text {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.about__text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: var(--bg-color-0);
}

.about__text p {
    font-size: 1.2rem;
}

.about__text p, .about__text h1 {
    font-family: var(--text-font);
    text-align: justify;
}
@media (max-width: 1024px) {
   
}
@media (max-width: 450px) {
    .about {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 5%;
    }
    .about__img {
        width: 100%;
    }
    .about__img img {
        width: 100%;
        backdrop-filter: blur(1rem);
    }
    .about__text {
        width: 80%;
        padding-bottom: 1rem;
    }
    .about__text h1 {
        font-size: 35px;
        margin-bottom: 0;
    }
}