.about {
    display: flex;
    align-items: center;
    background-image: url(../../img/bg-gris.jpg);
    height: 100vh;
}

.about__img img {
    width: 45vw;
}

.about__text {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.about__text p, .about__text h1 {
    font-family: var(--text-font);
    text-align: justify;
}