.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menu .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.menu__logo__icon {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .5;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
  
.menu__list {
    list-style-type: none;
    display: flex;
    font-size: 1.9rem;
}
  
.menu__list__item {
    color: var(--text-color);
    margin-left: 4rem;
}
  
.menu__link {
    color: var(--text-color);
    transition: .3s;
}
  
.menu__link:hover, .active {
    color: var(--main-color);
}
  
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

@media (max-width: 768px) {
    #menu-icon {
      display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar .active ul {
        display: block;
    }

    .navbar ul{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        line-height: 5rem;
    }
  }

 