footer {
    width: 100%;
    height: 7vh;
    background: var(--bg-color-4);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font);
}
footer p {
    font-size: 1.2rem;
}
.scroll__top {
    background-color: var(--bg-color-0);
    position: relative;
    left: 20%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: .5s ease;
    border: 2px solid var(--bg-color-0);
}
.scroll__top a i {
    font-size: 3rem;
    color: var(--bg-color-4);
    transition: .5s ease;
}
.scroll__top:hover {
    background-color: var(--bg-color-2);
}
.scroll__top a i:hover {
    transform: scale(1.1);
    color: var(--bg-color-0);
}

@media (max-width: 1024px) {
   footer {
        width: 100%;
        height: 5vh;
        position: relative;
   }
   footer p {
        font-size: 1rem;
    }
   footer .scroll__top {
        position: absolute;
        left: 80%;
        width: 40px;
        height: 40px;
   }
}
@media (max-width: 500px) {
    footer {
        width: 100%;
        height: 1.5rem;
        text-align: center;
        position: relative;
    }
    footer p {
        font-size: 12px;
        text-align: center;
    }
    .scroll__top {
        display: none;
    }
}